@import 'settings';
@import 'colors';

.timeline ul {
	display: flex;
	flex-direction: column;
	list-style: none;
    padding-left: 0px;
}
.timeline li {
	position: relative;
	margin-bottom: 2em;
	padding: 2em;
	width: 90%;
	border: 2px solid #c6ca45;
	border-radius: 8px;
}
.timeline-headline{
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.4rem;
}

.timeline-icon{
	height: 3.5rem;
}
.timeline-icon:hover{
	filter: invert(87%) sepia(12%) saturate(2026%) hue-rotate(11deg) brightness(90%) contrast(92%);
}

.timeline-cetrificate{
	position: absolute;
	height: 15rem;
	z-index: 5;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 1s ease-out both;
	        animation: fade-in-bottom 1s ease-out both;
}
.timeline-cetrificate-nonvisible{
	display: none;
}
.timeline-cetrificate{
	height: 25rem;
}
.timeline p{
	width: 85%;
}

@media (min-width: 	768px) {
.timeline-icon{
	display: inline-block;
}
.timeline-cetrificate{
	left: 50%;
	bottom: 150%;
}

.timelineBox{
    display: flex;
	justify-content: center;
	align-items: center;
}
.timeline {
	position: relative;
	width: 90%;
	max-width: 800px;
}

.timeline li {
	width: 50%;
}

.timeline li::after {
	position: absolute;
	top: calc(50% - 10px);
	width: 20px;
	height: 20px;
	background-color: #c6ca45;
	border-radius: 50%;
	content: '';
}

.timeline li:nth-child(even) {
	align-self: flex-end;
	transform: translateX(20px);
}

.timeline li:nth-child(even)::after {
	left: -31px;
}

.timeline li:nth-child(odd) {
	transform: translateX(-20px);
}

.timeline li:nth-child(odd)::after {
	right: -31px;
}

.timeline::before {
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	display: block;
    left: 50%;
	width: 2px;
	height: 100%;
	background-color:#c6ca45;
	content: '';
}
}
@media(max-width: 767px){
	.timeline ul {
		align-items: center;
		
	}
	.timeline-cetrificate{
		height: 20rem;
		right: -10%;
		bottom: 0;
		top: 0;
	}
	// .timeline li:nth-child(odd) .timeline-cetrificate{
	// 	left: 100%;
	// 	bottom: 0;
	// }
	// .timeline li:nth-child(even) .timeline-cetrificate{
	// 	right: 120%;
	// 	bottom: 0;
	// }
}