$black-color: rgb(15, 13, 13);
$main-color: #5d737e;
$text-color: rgb(255, 255, 255);
$section-secondary: #333d29;
$first-card-color: #ccd5ae;
$first-card-color: #ccd5ae;
$second-card-color: #faedcd;
$third-card-color: #e9edc9;
$fourth-card-color: #d4a373;
