@import 'settings';
@import 'colors';
.header {
	&__hero-img {
		height: 100vh;
		background-image: url('../img/Hero-img.jpg');
		background-size: cover;
		background-position: center;
		background-position-y: bottom;
        position: relative;
	}
	&__hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
        padding-left: 50%;
		width: 100%;
		height: 80%;
		color: $black-color;
		font-family: 'Square Peg', cursive;
		&--bottom {
			font-size: 3rem;
		}
		h1 {
			font-size: 10rem;
			font-weight: 200;
			text-align: center;
			span {
				display: block;
			}
		}
	}
    &__button{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 20%;
        width: 100%;
        &-icon{
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(236deg) brightness(112%) contrast(98%);
            height: 5rem;
        }
        &-text{

        }
    }
}