@import 'settings';
@import 'colors';
.nav-link{
    color: white;
    font-size: 1.6rem;
    &:hover{
        color: $second-color;
    }
}
.navbar-brand{
    img{
        height: 30px;
        position: relative;
        bottom: 5px;
    }
    font-family: 'Square Peg', cursive;
    color: white;
    font-size: 2.5rem;
    &:hover{
        filter: invert(75%) sepia(17%) saturate(1222%) hue-rotate(23deg) brightness(95%) contrast(103%);
       
    }
}
.navbar-nav .nav-link.active{
    color: $main-color;
}
.shadow-bg {
    background-color: rgba(0, 0, 0, .5);
}

nav {
  
    transition: background-color .6s;
    z-index: 1;

    a{
        color: white;
    }

    a:hover {
        color: red;
    }

    .fa-bars {
        padding: 10px;
    }

    .active {
        color: $main-color;
    }
    .nav-item{
        padding-right: 15px;
    }
}
@media (min-width: 992px) {
    .nav-link{
        font-size: 2rem;
        font-weight: 500;
    }
    .navbar-brand{
        font-family: 'Square Peg', cursive;
        color: white;
        font-size: 4rem;
        img{
           height: 55px;
            bottom: 10px;
        }
    }
}
.logo-img{
    height: 50px;
}