@forward 'colors';
*,
*::after,
*::before,
p {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
    position: relative;
    overflow: auto;
}
section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
